#bg {
	background-image: url(/assets/img/magic.jpg);
}

#enchant {
	width: 639px;
	height: 441px;
	background-image: url(/assets/img/enchant_options.png);
	position: absolute;
	left: 8px;
	z-index: 3;
}
#enchant div {
	/*background-color: rgba(0, 0, 0, 0.5);
	border: solid 1px;
	border-color: rgba(255, 255, 255, 0.5);*/
	position: absolute;
	z-index: 4;
}
#enchant #fill {
	width: 310px;
	height: 148px;
	background: linear-gradient(to bottom, #230e37 0%, #6b213a 45%, #be7c3a 100%);
	left: 49px;
	top: 163px;
}
#enchant #fillOverlay {
	width: 327px;
	height: 163px;
	background-image: url(/assets/img/enchant_gradient_overlay2.png);
	left: 41px;
	top: 150px;
	z-index: 5;
}
#enchant .text {
	z-index: 5;
}
#enchant .text#amp {

}
#enchant .text#magic {
	width: 366px;
	height: 24px;
	left: 20px;
	top: 348px;
	color: #cacaca;
	font-family: sans-serif;
	font-size: 0.92em;
	font-weight: bold;
	text-align: center;
}
#enchant #magicElixir {
	width: 166px;
	height: 45px;
	left: 433px;
	top: 79px;
}
#enchant #blessedMagicElixir {
	width: 166px;
	height: 45px;
	left: 433px;
	top: 133px;
}
#enchant #magicElixirOfLife {
	width: 166px;
	height: 45px;
	left: 433px;
	top: 187px;
}
#enchant #begin {
	width: 120px;
	height: 30px;
	left: 81px;
	top: 388px;
}

#enchant #begin:hover {
	background-image: url(/assets/img/enchant_begin_hover.jpg);
}

#enchant #begin:active {
	background-image: url(/assets/img/enchant_begin_active.jpg);
}

#enchant #cancel {
	width: 120px;
	height: 30px;
	left: 210px;
	top: 388px;
}

#enchant #cancel:hover {
	background-image: url(/assets/img/enchant_cancel_hover.jpg);
}

#enchant #cancel:active {
	background-image: url(/assets/img/enchant_cancel_active.jpg);
}

#brynn {
	width: 426px;
	height: 512px;
	background-image: url(/assets/img/brynn.png);
	position: absolute;
	bottom: 0;
	z-index: 0;
}
