#bg {
	background-image: url(/assets/img/magic.jpg);
}

#enchant {
	width: 639px;
	height: 441px;
	background-image: url(/assets/img/enchant_options.png);
	position: absolute;
	left: 8px;
	z-index: 3;
}

#enchant #magicElixir {
	width: 166px;
	height: 45px;
	/*background-color: rgba(0, 0, 0, 0.75);*/
	position: absolute;
	left: 433px;
	top: 79px;
}
#enchant #blessedMagicElixir {
	width: 166px;
	height: 45px;
	/*background-color: rgba(0, 0, 0, 0.75);*/
	position: absolute;
	left: 433px;
	top: 133px;
}
#enchant #magicElixirOfLife {
	width: 166px;
	height: 45px;
	/*background-color: rgba(0, 0, 0, 0.75);*/
	position: absolute;
	left: 433px;
	top: 187px;
}
#enchant #begin {
	width: 120px;
	height: 30px;
	/*background-color: rgba(0, 0, 0, 0.75);*/
	position: absolute;
	left: 81px;
	top: 388px;
}
#enchant #cancel {
	width: 120px;
	height: 30px;
	/*background-color: rgba(0, 0, 0, 0.75);*/
	position: absolute;
	left: 210px;
	top: 388px;
}

#brynn {
	width: 426px;
	height: 512px;
	background-image: url(/assets/img/brynn.png);
	position: absolute;
	bottom: 0;
	z-index: 0;
}
