#bg {
	background-image: url(/assets/img/magic.jpg);
}

#enchant {
	width: 639px;
	height: 441px;
	background-image: url(/assets/img/enchant_options.png);
	position: absolute;
	left: 8px;
	z-index: 3;
}
#enchant div {
	/*background-color: rgba(0, 0, 0, 0.5);
	border: solid 1px;
	border-color: rgba(255, 255, 255, 0.5);*/
	position: absolute;
	z-index: 4;
}

#enchant #fillContainer {
	width: 310px;
	height: 148px;
	left: 49px;
	top: 163px;
	overflow: hidden;
}
#enchant #fill {
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #230e37 0%, #6b213a 45%, #be7c3a 100%);
	left: 0px;
	top: 143px;
}
#enchant #fillVoid {
	width: 310px;
	height: 60px;
	background-color: #000;
	left: 49px;
	top: 163px;
	display: none;
}
#enchant #fillOverlay {
	width: 327px;
	height: 163px;
	background-image: url(/assets/img/enchant_gradient_overlay.png);
	left: 41px;
	top: 150px;
	z-index: 5;
}

#enchant .text {
	font-family: Arial, Helvetica, sans-serif;
	z-index: 5;
}
#enchant .text#amp {

}
#enchant .text#magic {
	width: 366px;
	height: 24px;
	left: 20px;
	top: 348px;
	color: #cacaca;
	font-size: 0.92em;
	font-weight: bold;
	text-align: center;
}

#enchant #magicElixir {
	width: 166px;
	height: 45px;
	left: 433px;
	top: 79px;
}
#enchant #blessedMagicElixir {
	width: 166px;
	height: 45px;
	left: 433px;
	top: 133px;
}
#enchant #magicElixirOfLife {
	width: 166px;
	height: 45px;
	left: 433px;
	top: 187px;
}

#enchant #begin {
	width: 120px;
	height: 30px;
	left: 81px;
	top: 388px;
	border-radius: 4px;
}
#enchant #begin:hover {
	background-image: url(/assets/img/enchant_begin_hover.jpg);
}
#enchant #begin:active {
	background-image: url(/assets/img/enchant_begin_active.jpg);
}

#enchant #cancel {
	width: 120px;
	height: 30px;
	left: 210px;
	top: 388px;
	border-radius: 4px;
}
#enchant #cancel:hover {
	background-image: url(/assets/img/enchant_cancel_hover.jpg);
}
#enchant #cancel:active {
	background-image: url(/assets/img/enchant_cancel_active.jpg);
}

#enchant #amplify {
	width: 120px;
	height: 30px;
	left: 455px;
	top: 388px;
	border-radius: 4px;
}
.amplify-lit {
    background-image: url(/assets/img/amplify_magic.jpg);
}
.amplify-lit:hover {
    background-image: url(/assets/img/amplify_magic_hover.jpg);
}
.amplify-lit:active {
    background-image: url(/assets/img/amplify_magic_active.jpg);
}
.amplify-unlit {
    background-image: url(/assets/img/amplify_magic_unlit.jpg);
    cursor: url(/assets/img/cursor/Hero_Normal.cur), auto;
}

.elixir {
    width: 100%;
    height: 100%;
}
.elixir:hover {
    box-shadow: inset 0px 0px 5px #9c8279;
}
.selected-elixir {
    box-shadow: inset 0px 0px 10px #b09389;
}

#brynn {
	width: 426px;
	height: 512px;
	background-image: url(/assets/img/brynn.png);
	transform: scale(0.85, 0.85);
	position: absolute;
	bottom: -38px;
	z-index: 0;
}
