body {
	padding-left: 24px;
	padding-right: 24px;
	cursor: url(/assets/img/cursor/Hero_Normal.cur), auto;
}
a, #mute {
	cursor: url(/assets/img/cursor/Hero_press.cur) 7 0, auto;
}
h2 {
	color: #eee;
}
h3 {
	color: #aaa;
	margin-top: 12px;
}

#bg {
	min-width: 1280px;
	width: 100vw;
	height: 100vh;
	position: fixed;
	transform: translate(-64px, 0) scale(1.1, 1.1) rotate(0.0003deg);
	top: -5%;
	left: 0px;
	z-index: -1;
}
@media screen and (max-width: 1280px) {
	#bg {
		left: 50%;
		margin-left: -512px;
	}
}

#vignette {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	box-shadow: inset 0px -100px 160px 0px rgba(0,0,0,0.75);
}

#greeting {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 0;
	padding-bottom: 16px;
	z-index: 2;
	text-shadow: 0 0 10px #000;
}

#mute {
	width: 72px;
	height: 48px;
	background-image: url(/assets/img/texture.jpg);
	border: 1px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #999,0 0 5px #000;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 12px;
    padding: 11px 23px;
    z-index: 2;
}

#muteIcon {
	max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    z-index: 3;
}
