body {
	background-color: #262622;
}

#filler {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.poison {
	padding-right: 0;
	background-color: #1b1b1b;
	border-radius: 8px;
}

.poison li {
	text-align: center;
}
