<!DOCTYPE html>

<html id="ng-app" ng-app="brynn">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Ferghus Simulator">
        <meta name="viewport" content="width=device-width">
        <title>Brynn - Enchantment Simulator</title>
        <link href="assets/img/favicon.ico" rel="icon" type="image/x-icon">

        <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/common.css" rel="stylesheet">
        <link href="assets/css/brynn.css" rel="stylesheet">
    </head>

    <body>
        <div id="bg"></div>
        <div id="vignette"></div>

        <div class="container-fluid" ng-controller="EnchantController as enchant">
            <div class="row">
                <div id="enchant">
                    <div id="fillContainer">
                        <div id="fill"></div>
                    </div>
                    <div id="fillOverlay"></div>
                    <div class="text" id="brEmpty"
                            ng-hide="enchant.brEmpty < 41" ng-cloak>
                        {{enchant.brEmpty}}br
                    </div>
                    <div class="text" id="brFull"
                            ng-show="enchant.brFull >= 41" ng-cloak>
                        {{enchant.brFull}}br
                    </div>
                    <div class="text" id="ampsLeft" ng-cloak>{{enchant.ampsLeft}}</div>
                    <div class="text" id="magic" ng-cloak>
                        Current Magic : {{enchant.magic}}/100 (Current Success Rate {{enchant.success}}%)
                    </div>

                    <div    class="elixirs canClick" id="magicElixir"
                            ng-class="{'selected-elixir': enchant.selectedElixir == 1}"
                            ng-click="enchant.selectedElixir = 1">
                        <div class='elixir'></div>
                    </div>
                    <div    class="elixirs canClick" id="blessedMagicElixir"
                            ng-class="{'selected-elixir': enchant.selectedElixir == 2}"
                            ng-click="enchant.selectedElixir = 2">
                        <div class='elixir'></div>
                    </div>
                    <div    class="elixirs canClick" id="magicElixirOfLife"
                            ng-class="{'selected-elixir': enchant.selectedElixir == 3}"
                            ng-click="enchant.selectedElixir = 3">
                        <div class='elixir'></div>
                    </div>
                    <div    class="canClick"
                            ng-class="{'amplify-unlit': !enchant.selectedElixir || enchant.ampsLeft <= 0, 
                                       'amplify-lit': enchant.selectedElixir && enchant.ampsLeft > 0}"
                            id="amplify" ng-click="enchant.addElixir(enchant.selectedElixir)">
                    </div>
                    <div class="text" id="maxSuccessText">Max Success :</div>
                    <div class="input-group input-group-sm" id="maxSuccess">
                        <input type="text" class="form-control canType"
                                id="maxSuccessInput" placeholder="-" aria-describedby="maxSuccessAddon"
                                ng-model="enchant.successEnd" ng-change="enchant.updateSuccess()">
                        <span class="input-group-addon" id="maxSuccessAddon">%</span>
                    </div>
                    <div class="canClick" id="begin" ng-click="enchant.begin()"></div>
                    <div class="canClick" id="cancel" ng-click="enchant.cancel()"></div>
                </div>
                <div class="popup" id="progress">
                    <div id="progressBar"></div>
                </div>
                <div class="popup" id="result">
                    <div class="text" id="resultText">{{enchant.resultText}}</div>
                </div>
                <div id="brynn"></div>
                <div class="text" id="greeting">
                    <h2 class="header">Brynn > Enchantment Simulator</h2>
                    <h3 class="header">“Oh great, it's you again.”</h3>
                </div>
                <div id="chatboxContainer">
                    <div class="text" id="chatbox" scroll-bottom="enchant.messageOutArray">
                        <div ng-repeat="message in enchant.messageOutArray track by $index">
                            <div class="row">
                                <div class="type"><span class='system'>SYSTEM</span></div>
                                <div class="message">{{message}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mute">
                    <img id="muteIcon" src="assets/img/headphones.png" alt="Mute">
                </div>
            </div>
        </div>

        <!-- Placed at the end of the document so the page load faster -->
        <script src="assets/lib/angular/angular.min.js"></script>
        <script src="assets/angular/app-brynn.js"></script>
        <script src="assets/lib/jquery/dist/jquery.min.js"></script>
        <script src="assets/lib/bpopup/jquery.bpopup.min.js"></script>
        <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="assets/lib/gsap/src/minified/TweenMax.min.js"></script>
        <script src="assets/lib/mersennetwister/src/MersenneTwister.js"></script>
        <script src="assets/js/common.js"></script>
        <script src="assets/js/brynn.js"></script>
    </body>
</html>
