<!DOCTYPE html>

<html id="ng-app" ng-app="ferghus">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Ferghus Simulator">
        <meta name="viewport" content="width=device-width">
        <title>Ferghus - Enhancement Simulator</title>
        <link href="assets/img/favicon.ico" rel="icon" type="image/x-icon">

        <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/common.css" rel="stylesheet">
        <link href="assets/css/ferghus.css" rel="stylesheet">
    <head>

    <body>
        <div id="bg"></div>
        <div id="vignette"></div>

        <div class="container-fluid"  ng-controller="EnhanceController as enhance">
            <div class="row">
                <div id="enhance">
                    <div class="canClick" id="btnItem" ng-click="enhance.getItem()">
                        <div ng-hide="enhance.selectedItem === null" ng-cloak>
                            +{{enhance.selectedItem}}
                        </div>
                    </div>
                    <div id="preview"
                         ng-hide="enhance.selectedItem === null ||
                                  enhance.selectedItem >= 15"
                         ng-cloak>
                        +{{enhance.selectedItem+1}}
                    </div>
                    <div class="canClick" id="enhanceButton"
                         ng-class="{'enhanceButton-unlit ': enhance.selectedItem === null || 
                                                            enhance.selectedItem >= 15, 
                                    'enhanceButton-lit ': enhance.selectedItem !== null &&
                                                          enhance.selectedItem < 15}"
                         ng-click="enhance.begin()">
                    </div>
                </div>
                <div id="ferghus"></div>
                <div class="text" id="greeting">
                    <h2 class="header">Fergus > Enhancement Simulator</h2>
                    <h3 class="header">“My shoulder hurts from all that hammering.”</h3>
                </div>
                <div class="popup container" id="items">
                    <div ng-repeat="(y, row) in enhance.getArray(3) track by $index"
                         class="row">
                        <div ng-repeat="(x, col) in enhance.getArray(5) track by $index"
                             ng-init="i = y*5+x"
                             ng-click="enhance.selectItem(i)"
                             class="canClick text col-xs-2" id="item">
                            +{{i}}
                        </div>
                    </div>
                </div>
                <div id="mute">
                    <img id="muteIcon" src="assets/img/headphones.png" alt="Mute">
                </div>
                <div id="chatboxContainer">
                    <div class="text" id="chatbox" scroll-bottom="enhance.messageOutArray">
                        <div ng-repeat="message in enhance.messageOutArray track by $index">
                            <div class="row">
                                <div class="type"><span class='system'>SYSTEM</span></div>
                                <div class="message"><div ng-bind-html="message"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup" id="progress">
                    <div id="progressBar"></div>
                </div>
            </div>
        </div>

        <!-- Placed at the end of the document so the page load faster -->
        <script src="assets/lib/angular/angular.min.js"></script>
        <script src="assets/angular/app-ferghus.js"></script>
        <script src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="assets/lib/jquery/dist/jquery.min.js"></script>
        <script src="assets/lib/bpopup/jquery.bpopup.min.js"></script>
        <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="assets/lib/gsap/src/minified/TweenMax.min.js"></script>
        <script src="assets/lib/mersennetwister/src/MersenneTwister.js"></script>
        <script src="assets/js/common.js"></script>
        <script src="assets/js/ferghus.js"></script>
    </body>
</html>
